<div class="card_list">
  <% @shows.each do |show| %>
  <a href="/shows/<%= show.id %>" class="card">
    <%= image "http://thetvdb.com/banners/#{show.poster}" %>
    <div class="content <% if show.name.length > 15 %>long-title<% end %>">
      <h1><%= show.name %></h1>
      <dl>
        <dt>Rating:</dt>
        <dd><%= show.rating %></dd>
        <dt>Status:</dt>
        <dd><%= show.status %></dd>
      </dl>
    </div>
  </a>
  <% end %>
  <%= partial :'partials/paging', locals: { url: @url } %>
</div>
