<%= partial :'partials/layout/header' %>
<%= partial :'partials/layout/navigation' %>

<div class="container-fluid" id="site-body">
  <% %w[error success warning info].each do |key| %>
    <% if flash[key] %>
      <div class="alert fade in alert-<%= key == 'error' ? 'danger' : key %>">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <%= flash[key] %>
      </div>
    <% end %>
  <% end %>

  <% unless @title.nil? %>
    <h1>
      <%= @title %>
      <% unless @subtitle.nil? %><small><%= @subtitle %></small><% end %>
    </h1>
  <% end %>

  <%= yield %>
</div>

<%= partial :'partials/layout/footer' %>
