<% unless @total_pages < 2 %>
  <div class="clearfix"></div>
  <div class="row" style="margin: 20px inherit">
    <div class="btn-toolbar" role="toolbar">
      <div class="btn-group">
        <a href="<%= "#{url}page/1?#{@query}" %>" <% if @page == 1 %> disabled="disabled"<% end %> type="button" class="btn btn-default">&laquo;</a>
        <a href="<%= "#{url}page/#{@page - 1}?#{@query}" %>" <% if @page == 1 %> disabled="disabled"<% end %> type="button" class="btn btn-default">&larr;</a>

        <% @start_page.upto(@end_page).each do |page_number| %>
          <a
            href="<%= url %>page/<%= page_number %>?<%= @query %>"
            <% if page_number == @page %>disabled="disabled"<% end %>
            type="button"
            class="btn btn-default">
              <%= page_number %>
          </a>
        <% end %>

        <a href="<%= "#{url}page/#{@page + 1}?#{@query}" %>"<% if @page == @total_pages %> disabled="disabled"<% end %> type="button" class="btn btn-default">&rarr;</a>
        <a href="<%= "#{url}page/#{@total_pages}?#{@query}" %>"<% if @page == @total_pages %> disabled="disabled"<% end %> type="button" class="btn btn-default">&raquo;</a>
      </div>
    </div>
  </div>
<% end %>
