<% if @usershows.empty? %>
  <p><%= t 'users.my_shows.no_shows_yet' %></p>
<% else%>

  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= t 'general.show_name' %></th>
        <th width="100px" class="text-center"><%= t 'general.season' %></th>
        <th width="100px" class="text-center"><%= t 'general.episode' %></th>
        <th width="150px" class="text-center"><%= t 'shows.status' %></th>
        <th><%= t 'general.options' %></th>
      </tr>
    </thead>
    <tbody>
    <% @usershows.each do |usershow| %>
      <tr>
        <td>
          <%= link_to "/shows/#{usershow.show.id}", usershow.show.name %>
        </td>
        <td class="text-center">
          <%= link_button "/users/increment-season/#{usershow.id}", glyphicon('chevron-up'), :success, :xs, class: 'btn-hover' %>
          <span style='padding: 0 5px'><%= usershow.season || 0%></span>
          <%= link_button "/users/decrement-season/#{usershow.id}", glyphicon('chevron-down'), :danger, :xs, class: 'btn-hover' %>
        </td>
        <td class="text-center">
          <%= link_button "/users/increment-episode/#{usershow.id}", glyphicon('chevron-up'), :success, :xs, class: 'btn-hover' %>
          <span style='padding: 0 5px'><%= usershow.episode || 0%></span>
          <%= link_button "/users/decrement-episode/#{usershow.id}", glyphicon('chevron-down'), :danger, :xs, class: 'btn-hover' %>
        </td>
        <td class="text-center"><%= usershow.show.status %></td>
        <td>
          <%= link_button "/users/remove-show/#{usershow.show.id}", t('general.remove'), :danger, :xs %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
