<div class="well">
  <h4><%= t('home.index.header') %></h4>
  <p><%= t('home.index.message') %></p>
  <p>
    <% if user_signed_in? %>
      <%= link_to t('general.my_shows'), 'users/my-shows', class: 'btn btn-primary' %>
    <% else %>
      <%= link_to t('general.login'), new_user_session_path, class: 'btn btn-primary' %>
      <%= link_to t('general.sign_up'), new_user_registration_path, class: 'btn btn-success' %>
    <% end %>
  </p>
</div>
<h3><%= t('home.featured_shows') %></h3>
<div class="row">
  <% if @shows.empty? %>
    <div class='col-md-12'> <%= t('search.no_shows_found') %></div>
  <% else %>
    <div class='col-md-6 text-center'>
      <% @shows.first(5).each do |show| %>
        <a href="/shows/<%= show.id %>" title="<%= show.name %>">
          <%= image_tag "http://thetvdb.com/banners/#{show.banner}", style: "max-width: 530px" %>
          <p><%= show.name %></p>
        </a>
      <% end %>
    </div>
    <div class='col-md-6 text-center'>
      <% @shows.last(5).each do |show| %>
        <a href="/shows/<%= show.id %>" title="<%= show.name %>">
          <%= image_tag "http://thetvdb.com/banners/#{show.banner}", style: "max-width: 530px" %>
          <p><%= show.name %></p>
        </a>
      <% end %>
    </div>
  <% end %>
</div>
