<div class="well">
  <h4><%= t('home.index.header') %></h4>
  <p><%= t('home.index.message') %></p>
  <p>
    <% if user_signed_in? %>
      <%= link_to t('general.my_shows'), 'users/my-shows', class: 'btn btn-primary' %>
    <% else %>
      <%= link_to t('general.login'), new_user_session_path, class: 'btn btn-primary' %>
      <%= link_to t('general.sign_up'), new_user_registration_path, class: 'btn btn-success' %>
    <% end %>
  </p>
</div>

<%= render 'featured_shows' %>