<% if @usershows.empty? %>
  <p>You have no shows yet.</p>
<% else%>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Show Name</th>
        <th width="100px" class="text-center">Season</th>
        <th width="100px" class="text-center">Episode</th>
        <th width="150px" class="text-center">Status</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
    <% @usershows.each do |usershow| %>
      <tr>
        <td><a href="/shows/<%= usershow.show.id %>"><%= usershow.show.name %></a></td>
        <td class="text-center">
          <a href="/users/increment-season/<%= usershow.id %>" class="btn btn-success btn-hover btn-xs">
            <span class="glyphicon glyphicon-chevron-up">
          </a>
          <span style='padding: 0 5px'><%= usershow.season || 0%></span>
          <a href="/users/decrement-season/<%= usershow.id %>" class="btn btn-danger btn-hover btn-xs">
            <span class="glyphicon glyphicon-chevron-down">
          </a>
        </td>
        <td class="text-center">
          <a href="/users/increment-episode/<%= usershow.id %>" class="btn btn-success btn-hover btn-xs">
            <span class="glyphicon glyphicon-chevron-up">
          </a>
          <span style='padding: 0 5px'><%= usershow.episode || 0%></span>
          <a href="/users/decrement-episode/<%= usershow.id %>" class="btn btn-danger btn-hover btn-xs">
            <span class="glyphicon glyphicon-chevron-down">
          </a>
        </td>
        <td class="text-center"><%= usershow.show.status %></td>
        <td><a href="/users/remove-show/<%= usershow.show.id %>" class="btn btn-danger btn-xs">Remove</a></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
