<% if @usershows.empty? %>
  <p>You have no shows yet.</p>
<% else%>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Show Name</th>
        <th width="100px" class="text-center">Season</th>
        <th width="100px" class="text-center">Episode</th>
        <th width="150px" class="text-center">Status</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
    <% @usershows.each do |usershow| %>
      <tr>
        <td>
          <%= link_to "/shows/#{usershow.show.id}", usershow.show.name %>
        </td>
        <td class="text-center">
          <%= link_button "/users/increment-season/#{usershow.id}", glyphicon('chevron-up'), :success, :xs, class: 'btn-hover' %>
          <span style='padding: 0 5px'><%= usershow.season || 0%></span>
          <%= link_button "/users/decrement-season/#{usershow.id}", glyphicon('chevron-down'), :danger, :xs, class: 'btn-hover' %>
        </td>
        <td class="text-center">
          <%= link_button "/users/increment-episode/#{usershow.id}", glyphicon('chevron-up'), :success, :xs, class: 'btn-hover' %>
          <span style='padding: 0 5px'><%= usershow.episode || 0%></span>
          <%= link_button "/users/decrement-episode/#{usershow.id}", glyphicon('chevron-down'), :danger, :xs, class: 'btn-hover' %>
        </td>
        <td class="text-center"><%= usershow.show.status %></td>
        <td>
          <%= link_button "/users/remove-show/#{usershow.show.id}", 'Remove', :danger, :xs %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
