<div class="pull-left">
  <div class="btn-group">
    <a href="/shows/search?<%= @query.gsub(/status=(Continuing|Ended)/, '') %>" class="btn btn-primary btn-hover btn-xs">All</a>
    <a href="/shows/search?status=Continuing&<%= @query %>" class="btn btn-primary btn-hover btn-xs">Continuing</a>
    <a href="/shows/search?status=Ended&<%= @query %>" class="btn btn-primary btn-hover btn-xs">Ended</a>
  </div>
</div>
<div class="btn-group pull-right">
  <a class="btn btn-default btn-primary btn-xs active"><%= glyphicon 'th-large' %></a>
  <a href="/shows/list?<%= @query %>" class="btn btn-default btn-hover btn-primary btn-xs"><%= glyphicon 'th-list' %></a>
</div>
<div class="clearfix"></div>
<%= partial :'partials/show/cards' %>
