<% if @shows.empty? %>
  <p><%= t 'shows.search.no_shows_found' %></p>
<% end %>
<div class="pull-left">
  <div class="btn-group">
    <a href="/shows/search?<%= @query.gsub(/status=(Continuing|Ended)/, '') %>" class="btn btn-primary btn-hover btn-xs">All</a>
    <a href="/shows/search?status=Continuing<%= @query.gsub(/status=(Continuing|Ended)/, '') %>" class="btn btn-primary btn-hover btn-xs">Continuing</a>
    <a href="/shows/search?status=Ended<%= @query.gsub(/status=(Continuing|Ended)/, '') %>" class="btn btn-primary btn-hover btn-xs">Ended</a>
  </div>
</div>
<div class="clearfix"></div>
<%= partial :'partials/show/cards' %>
