<div class="text-center" style="background:<%= @colors[0] %>">
  <%= image "http://thetvdb.com/banners/#{@show.banner}" %>
</div>
<%= partial :'partials/show/tabs' %>
<div class="tab-content">
  <%= partial :'partials/show/overview' %>
  <%= partial :'partials/show/actors' %>
  <%= partial :'partials/show/seasons' %>
</div>

<script>
$('#show-tabs a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
})
</script>
