<% @shows.each do |show| %>
<a href="/shows/<%= show.id %>" class="card">
  <img src="http://thetvdb.com/banners/_cache/<%= show.poster %>" />
  <div class="content <% if show.name.length > 15 %>long-title<% end %>">
    <h1><%= show.name %></h1>
    <dl>
      <dt>Rating:</dt>
      <dd><%= show.rating %></dd>
      <dt>Status:</dt>
      <dd><%= show.status %></dd>
      <dt>Seasons:</dt>
      <dd><%= show.seasons_count %></dd>
      <dt>Watched by:</dt>
      <dd>13134</dd>
    </dl>
  </div>
</a>
<% end %>
