<% if @shows.empty? %>
  <p>No shows found.</p>
<% else %>
  <% @shows.each do |group, shows| %>
    <section>
      <%= h 6, group, class: 'list-header' %>
    <% shows.each do |show| %>
      <a href="/shows/<%= show.id %>">
        <div class="card small">
          <% unless show.poster.empty? %>
            <%= image "http://thetvdb.com/banners/#{show.poster}" %>
          <% end %>
          <div class="content">
            <%= h 1, show.name %>
          </div>
        </div>
      </a>
    <% end %>
    </section>
  <% end %>

  <%= partial :'partials/paging', locals: { url: @url } %>
<% end %>
