<div class="pull-right">
<% if logged? && current_user.has_show?(@show.id) %>
  <table class="table">
    <thead><tr><th class="text-center">Season</th><th class="text-center">Episode</th></tr></thead>
    <tbody>
      <tr>
        <td class="text-center">
          <a href="/users/increment-season/<%= @usershow.id %>" class="btn btn-success btn-hover btn-xs">
            <span class="glyphicon glyphicon-chevron-up">
          </a>
          <span style='padding: 0 5px'><%= @usershow.season || 0 %></span>
          <a href="/users/decrement-season/<%= @usershow.id %>" class="btn btn-danger btn-hover btn-xs">
            <span class="glyphicon glyphicon-chevron-down">
          </a>
        </td>
        <td class="text-center">
          <a href="/users/increment-episode/<%= @usershow.id %>" class="btn btn-success btn-hover btn-xs">
            <span class="glyphicon glyphicon-chevron-up">
          </a>
          <span style='padding: 0 5px'><%= @usershow.episode || 0 %></span>
          <a href="/users/decrement-episode/<%= @usershow.id %>" class="btn btn-danger btn-hover btn-xs">
            <span class="glyphicon glyphicon-chevron-down">
          </a>
        </td>
      </tr>
    </tbody>
  </table>
  <a class="btn btn-danger" href="/users/remove-show/<%= @show.id %>">Remove from My Shows</a>
<% else %>
  <a class="btn btn-success" href="/users/add-show/<%= @show.id %>">Add to My Shows</a>
<% end %>
</div>

<img src="http://thetvdb.com/banners/_cache/<%= @show.poster %>" /><br />


Status: <%= @show.status %><br />
Airs on: <%= @show.airs_day %><br />
Airs at: <%= @show.airs_time %><br />
Content Rating: <%= @show.content_rating %><br />
First Aired: <%= @show.first_aired %><br />
Language: <%= @show.language %><br />
Rating: <%= @show.rating %> (<%= @show.rating_count %> votes)<br />

<h3>Genres</h3>
<% @show.genres.each do |genre| %>
  - <a href="/genres/<%= genre.id %>"><%= genre.name %></a><br/ >
<% end %>

<h3>Overview</h3>
<%= @show.overview %>


<h3>Actors</h3>
<% @show.actors.each do |actor| %>
  - <a href="/actors/<%= actor.id %>"><%= actor.name %></a><br />
<% end %>

<h3>Episodes</h3>
<% @show.seasons.each do |season| %>
  <h4>Season <%= season %></h4>
  <% @show.episodes_for_season(season).each do |episode| %>
    - <%= episode.name %><br />
  <% end %>
<% end %>
