<div class="pull-right">
<% if logged? && current_user.has_show?(@show.id) %>
  <table class="table">
    <thead><tr><th class="text-center">Season</th><th class="text-center">Episode</th></tr></thead>
    <tbody>
      <tr>
        <td class="text-center">
          <%= link_button "/users/increment-season/#{@usershow.id}", glyphicon('chevron-up'), :success, :xs, class: 'btn-hover' %>
          <span style='padding: 0 5px'><%= @usershow.season || 0 %></span>
          <%= link_button "/users/decrement-season/#{@usershow.id}", glyphicon('chevron-down'), :danger, :xs, class: 'btn-hover' %>
        </td>
        <td class="text-center">
          <%= link_button "/users/increment-episode/#{@usershow.id}", glyphicon('chevron-up'), :success, :xs, class: 'btn-hover' %>
          <span style='padding: 0 5px'><%= @usershow.episode || 0 %></span>
          <%= link_button "/users/decrement-episode/#{@usershow.id}", glyphicon('chevron-down'), :danger, :xs, class: 'btn-hover' %>
        </td>
      </tr>
    </tbody>
  </table>
  <%= link_button "/users/remove-show/#{@show.id}", 'Remove form My Shows', :danger %>
<% else %>
  <%= link_button "/users/add-show/#{@show.id}", 'Add to My Shows', :success %>
<% end %>
</div>

<%= image "http://thetvdb.com/banners/#{@show.banner}" %><br />

Status:          <%= @show.status %><br />
Airs on:         <%= @show.airs_day %><br />
Airs at:         <%= @show.airs_time %><br />
Content Rating:  <%= @show.content_rating %><br />
First Aired:     <%= @show.first_aired %><br />
Language:        <%= @show.language %><br />
Rating:          <%= @show.rating %> (<%= @show.rating_count %> votes)<br />

<h3>Genres</h3>
<% @show.genres.each do |genre| %>
  - <%= link_to "/genres/#{genre.id}", genre.name %><br/ >
<% end %>

<h3>Overview</h3>
<%= @show.overview %>


<h3>Actors</h3>
<% @show.actors.each do |actor| %>
  - <%= link_to "/actors/#{actor.id}", actor.name %><br />
<% end %>

<h3>Episodes</h3>
<% @show.seasons.each do |season| %>
  <h4>Season <%= season %></h4>
  <% @show.episodes_for_season(season).each do |episode| %>
    - <%= episode.name %><br />
  <% end %>
<% end %>
