<!DOCTYPE html>
<html>
<head>
  <title>ShowTracker</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <style>
      body {
        background-image: url("images/<%= random_fanart %>");
        background-size: cover;
        background-attachment: fixed;
      }
  </style>
</head>
<body>
  <div id="wrap">
    <div class="container">
      <%= render 'layouts/navigation' %>
      <div class="container-fluid" id="site-body">
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, class: "alert fade in alert-#{name}" %>
        <% end %>

        <% unless @title.nil? %>
          <h1>
            <%= @title %>
            <% unless @subtitle.nil? %><small><%= @subtitle %></small><% end %>
          </h1>
        <% end %>

        <%= yield %>
      </div>
    </div>
  </div>
  <div class="container">
    <div id="footer">
      <p class="text-muted"><%= t('layout.copyright')%></p>
    </div>
  </div>
</body>
</html>
